.frame-header {
  max-width: 1440px;
  width: 100%;
  padding-inline: var(--padding-large);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame-main {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  flex: 1;
}

.frame-meal {
  padding-left: var(--padding-xl);
  padding-top: 16px;
  padding-bottom: 16px;
}

.frame-basket {
  width: 300px;
  position: absolute;
  top: 500px;
  right: 50px;
  border-radius: 16px;

  background-color: var(--basket-color);
}
