.frame-header {
  max-width: 1440px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-right: 32px;
}

.frame-main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  gap: 24px;
}

.frame-meal {
  flex: 1;

  padding-top: 16px;
  padding-bottom: 16px;
}

.frame-basket {
  position: relative;
  top: -50px;
  width: 320px;
  flex-shrink: 0;
  border-radius: 16px;

  background-color: var(--basket-color);
}
