* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(90, 49, 148);
  --card-color: #c4b5fd;

  --bg-color: #f8f7ff;
  --basket-color: rgb(54, 54, 52);

  --text-color-dark: rgb(54, 54, 52);
  --text-color-light: white;

  /*   SPACING  */
  --padding-small: 8px;
  --padding-normal: 16px;
  --padding-medium: 32px;
  --padding-large: 64px;
  --padding-xl: 120px;

  /*   FONT-SIZE */

  --font-size-small: 12px;
  --font-size-main: 16px;
  --font-size-large: 24px;
}

header {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--bg-color);

  display: flex;
  flex-direction: column;

  min-height: 100dvh;
}

footer {
  background-color: var(--primary-color);
  flex-shrink: 0;

  display: flex;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;

  color: white;
}

.logo-container span {
  border-left: 4px solid white;
  padding-left: 8px;
}

.logo {
  width: 150px;
  height: auto;
}

.welcome {
  display: flex;
  flex-direction: column;
  position: relative; /*Bezugspunkt zum Imbisswagen icon*/
}

.main-img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

.main-icon {
  width: 100px;
  height: 100px;

  border-radius: 50%;

  object-fit: contain;
  position: absolute;
  left: 50%;
  bottom: 40%;
  /*transform: translate(-50%, -50%);*/
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: var(--padding-large);
  gap: 16px;
}

.burger-house {
  display: flex;
  gap: 32px;
}

.highlight {
  color: var(--primary-color);
}

.star-container {
  display: flex;
  align-items: center;
  gap: 8px;

  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding-inline: 10px;
  height: 24px;

  background-color: var(--card-color);
  font-size: 14px;
  transform: translateY(8px);
}

.star-img {
  width: 20px;
  height: auto;
}

.welcome-text {
  display: block;
  text-align: center;
  padding-bottom: 16px;
}

/*   MENU AREA    */

.menu-area {
  flex: 1;
}

.menu-header {
  width: 100%;
  margin: 0 auto;

  background-color: var(--primary-color);
}

.menu-header-inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 16px;

  height: 60px;

  color: white;
}

.menu-header h2 {
  margin: 0;
}

.burger-icon {
  width: 64px;
  height: 64px;
  display: block;

  transform: translateY(-14px);
}

/* CARD CONTAINER */

.card-container {
  background-color: var(--card-color);

  padding: 12px;
  max-width: 700px;

  border-radius: 8px;
}

.menu-section {
  padding-bottom: 32px;
}

.single-menu {
  display: flex;
  gap: 32px;
}

.menu-img img {
  width: 150px;
  height: 100px;
  object-fit: cover;

  border-radius: 8px;
}

.menu-info {
  display: flex;
  flex-direction: column;
  flex: 1;

  gap: 8px;
}

.menu-head {
  display: flex;
  justify-content: space-between;
}

.menu-description {
  display: flex;
}

.menu-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  flex: 1;
}

.main-button {
  padding: 5px 10px 5px 10px;

  border-radius: 10px;
  border: none;
  background-color: var(--basket-color);
  color: white;
}
