* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(90, 49, 148);
  --card-color: #c4b5fd;

  --bg-color: #f8f7ff;
  --basket-color: rgb(54, 54, 52);

  --text-color-dark: rgb(54, 54, 52);
  --text-color-light: white;

  /*   SPACING  */
  --padding-small: 8px;
  --padding-medium: 16px;
  --padding-large: 24px;

  /*   FONT-SIZE */

  --font-size-small: 12px;
  --font-size-main: 16px;
  --font-size-large: 24px;
}

header {
  background-color: var(--primary-color);
  width: 100%;
}

body {
  background-color: var(--bg-color);
}

footer {
  background-color: var(--primary-color);
}

.logo-container {
  display: flex;
  align-items: center;

  color: white;
}

.logo-container span {
  border-left: 4px solid white;
  padding-left: 8px;
}

.logo {
  width: 150px;
  height: auto;
}
