.content-wrapper-header {
  max-width: 1920px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: var(--padding-large);
}

.content-wrapper-main {
  max-width: 1920px;
  width: 100%;

  margin: 0 auto;

  position: relative;

  gap: 4px;
}

.meal-wrapper {
  padding-left: var(--padding-xl);
  padding-top: 16px;
  padding-bottom: 16px;
}

.basket-wrapper {
  width: 300px;
  position: absolute;
  top: 500px;
  right: 50px;
  border-radius: 16px;

  background-color: var(--basket-color);
}
